<div class="profile">
  <img src="https://via.placeholder.com/200x200" alt="Profile Picture">
  <h1 id="name">John Doe</h1>
  <div class="info">
    <p id="login">login</p>
    <p class="email">Email: john.doe@example.com</p>
  </div>
  <div class="bio">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eu turpis vel lacus consequat euismod. Quisque vitae leo non nulla lobortis euismod. Sed dapibus nisi vel arcu lobortis, sit amet suscipit justo sagittis. Fusce at interdum sapien, ut viverra velit. Suspendisse eget hendrerit nulla. Donec vel mollis enim.
  </div>
  <div class="actions">
    <button class="button edit" (click)="edit()">Edit Profile</button>
    <button class="button exit" (click)="exit()">Exit Profile</button>
    <button class="button delete" (click)="delete()">Delete Profile</button>
  </div>

</div>
