.profile {
  width: 80%;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  margin-top: 50px;
}
.profile h1 {
  margin-top: 0;
  font-size: 28px;
  text-align: center;
  margin-bottom: 20px;
}
.profile img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}
.profile .info {
  text-align: center;
  margin-bottom: 20px;
}
.profile .info p {
  font-size: 16px;
  margin-bottom: 5px;
}
.profile .info .email {
  font-style: italic;
  color: #888;
}
.profile .bio {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}
.profile .actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
}
.profile .actions .button {
  min-width: 160px;
  font-size: 18px;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  margin-left: 35px;
  margin-right: 35px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}
.profile .actions button:hover {
  background-color: #0D47A1;
}

.exit{
  background-color: #ad9d00;
}
.delete{
  background-color: red;
}
.edit {
  background-color: #4CAF50;
}
.button:hover {
  background-color: #3e8e41;
}
