.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #411649;
  color: #fff;
}

header .nav ul li:hover {
  background-color: rgb(181, 251, 255);
  cursor: pointer;
}

header .nav ul li:hover a {
  color: black;
}

header .nav ul li:selected a {
  color: black;
}

header .nav ul li:selected{
  background-color: rgb(181, 251, 255);
}

.logo img {
  height: 50px;
  width: 50px;
}

.nav ul{
  display: flex;
  list-style: none;
}

.nav li {
  margin-right: 20px;
  width: 6vw;
  text-align: center;
}

.nav a {
  color: #fff;
  text-decoration: none;
  font-size: 2*8vw;
}

.account {
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
}

.account:hover{
  color: #be29d8;
}
